DATABASE_URL=postgresql://user:password@localhost:5432/otpbud

POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=otpbud

JWT_SECRET=your-jwt-secret
NODE_ENV=development

REDIS_HOST=localhost
REDIS_PORT=6379